/* 

:root {
  --my-hue: 230;
}

body {
  background: hsl(var(--my-hue), 40%, 90%);
}

h1, p {
  color: hsl(var(--my-hue), 35%, 55%);
}

.btn {
  color: #fff;
  width: 100px;
  padding: 8px;
  border-radius: 4px;
  text-align: center;
  background: hsl(calc(var(--my-hue) + 178), 50%, 50%);
} */

/* common */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;


    background-color: #f0f0f0;

  }
  
  h1,h2 {
    margin: 0;
    font-weight: normal;
  }
  p{
    margin: 0;
  }
  
  img {
    vertical-align: bottom;
  }
  
  .container {
    margin: 0 16px;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  a {
    text-decoration: none;
    color: inherit;
    transition: opacity .3s;
  }
  
  a:hover{
    opacity: .5;
  }
  
  /* header */
  
//   header {
//     margin: 0;
//     padding: 8px 0;
//   }
//   header .container {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//   }
//   header ul {
//     display: flex;
  
//   }
//   header li + li {
//     margin-left: 10px;
//   }
//   header li a {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     font-size: 12px;
//   }
//   header li a i {
//     font-size: 18px;
//   }
//   header form {
//     display: none;
//   }
//   header input,header button {
//     all: unset;
//   }
//   header input {
//     border-bottom: 1px solid #aaa;
//     padding: 4px;
//     width: 300px;
//   }
//   header button {
//     cursor: pointer;
//   }
  
//   /* hero */
//   .hero {
//     height: 400px;
//   }
  
//   .hero img {
//     width: 100%;
//     height: 400px;
//     object-fit: cover;
//     position: absolute;
//     opacity: 0;
//     transition: opacity 2s;
//   }
  
//   .hero .current {
//     opacity: 1;
//   }
  
  
  // /* products */
  
  // .products {
  //   padding: 80px 0;
  // }
  // .products ul {
  //   margin-top: 32px;
  //   display: flex;
  //   flex-wrap: wrap;
  //   gap: 16px;
  // }
  // .products li {
  //   width: calc((100% - 16px) / 2);
  // }
  // .products li img {
  //   width: 100%;
  // }
  // .products h2 {
  //   font-size: 16px;
  //   margin-top: 10px;
  // }
  // .products li a {
  //   display: block;
  // }
  // .products .more {
  //   display: block;
  //   width: 70%;
  //   line-height: 48px;
  //   border: solid 2px #333;
  //   text-align: center;
  //   margin: 32px auto 0;
  // }
  
  /* footer */
  
  // footer {
  //   background-color: #4c4948;
  //   padding: 16px 0;
  //   color: #eee;
  // }
  // footer .container {
  //   display: flex;
  //   justify-content: space-between;
  //   align-items: center;
  // }
  // footer small {
  //   font-size: 16px;
  // }
  // footer ul {
  //   display: flex;
  //   gap: 16px;
  // }
  // footer li a i {
  //   font-size: 24px;
  // }
  
  // /* medium screen */
  
  // @media (min-width: 600px) {
  //   .products li {
  //     width: calc((100% - 32px) / 3);
  //   }
  // }
  
  /* large screen */
  
  @media (min-width: 800px) {
    .container {
      width: calc(100% - 32px) ;
      max-width: 800px;
      margin: 0 auto;
    }
  }
  
  
  
  // /* modalWindow */
  // /* モーダルウィンドウ */
  // .modal {
  //   display: none;
  //   position: fixed;
  //   z-index: 1;
  //   left: 0;
  //   top: 0;
  //   width: 100%;
  //   height: 100%;
  //   overflow: auto;
  //   background-color: rgba(0, 0, 0, 0.5);
  // }
  
  // /* モーダルコンテンツ */
  // .modal-content {
  //   background-color: #fefefe;
  //   margin: 15% auto;
  //   padding: 20px;
  //   border: 1px solid #888;
  //   width: 80%;
  //   max-width: 600px;
  
  //   display: flex;
  // }
  
  // /* 閉じるボタン */
  // .close {
  //   color: #888;
  //   float: right;
  //   font-size: 28px;
  //   font-weight: bold;
  // }
  
  // .close:hover,
  // .close:focus {
  //   color: #000;
  //   text-decoration: none;
  //   cursor: pointer;
  // }
  
  
  // .modal-content{
  //   background: #c95555;
  // }