@charset "UTF-8";
/* 

:root {
  --my-hue: 230;
}

body {
  background: hsl(var(--my-hue), 40%, 90%);
}

h1, p {
  color: hsl(var(--my-hue), 35%, 55%);
}

.btn {
  color: #fff;
  width: 100px;
  padding: 8px;
  border-radius: 4px;
  text-align: center;
  background: hsl(calc(var(--my-hue) + 178), 50%, 50%);
} */
/* common */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f0f0f0;
}

h1, h2 {
  margin: 0;
  font-weight: normal;
}

p {
  margin: 0;
}

img {
  vertical-align: bottom;
}

.container {
  margin: 0 16px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

a:hover {
  opacity: 0.5;
}

/* header */
/* footer */
/* large screen */
@media (min-width: 800px) {
  .container {
    width: calc(100% - 32px);
    max-width: 800px;
    margin: 0 auto;
  }
}
.ecsite .header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 10px 5%;
  z-index: 1000;
  border-bottom: #fff 1px solid;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #f0f0f0;
}
.ecsite .header .logo {
  cursor: pointer;
  border: solid 1px #000;
  padding: 5px;
  font-weight: bold;
}
.ecsite .header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.ecsite .header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.ecsite .header li + li {
  margin-left: 10px;
}
.ecsite .header li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
}
.ecsite .header li a i {
  font-size: 18px;
}
.ecsite .header form {
  display: none;
}
.ecsite .header input, .ecsite .header button {
  all: unset;
}
.ecsite .header input {
  border-bottom: 1px solid #aaa;
  padding: 4px;
  width: 300px;
}
.ecsite .header button {
  cursor: pointer;
}
@media (min-width: 800px) {
  .ecsite header form {
    display: block;
  }
}

.ecsite #hero {
  height: 400px;
}
.ecsite #hero img {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 2s;
  transition: opacity 2s;
}
.ecsite #hero .current {
  opacity: 1;
}

.ecsite {
  /* products */
  /* medium screen */
}
.ecsite .products {
  padding: 80px 0;
}
.ecsite .products__wrapper {
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 16px;
}
.ecsite .products__content {
  width: calc((100% - 16px) / 2);
}
.ecsite .products__content img {
  width: 100%;
}
.ecsite .products .more {
  display: block;
  width: 70%;
  line-height: 48px;
  border: solid 2px #333;
  text-align: center;
  margin: 32px auto 0;
}
@media (min-width: 600px) {
  .ecsite .products__content {
    width: calc((100% - 32px) / 3);
  }
}

.ecsite {
  /* 閉じるボタン */
}
.ecsite .modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.ecsite .modalButton {
  border-style: none;
  cursor: pointer;
}
.ecsite .modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
}
.ecsite .modal-content_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.ecsite .modal-content_left {
  width: 50%;
}
.ecsite .modal-content_right {
  width: 50%;
  padding: 30px 0px 30px 30px;
}
.ecsite .modal-content_productSlider {
  width: 100%;
  margin: 0 auto;
  display: block;
}
.ecsite .modal-content_productSlider img {
  overflow: hidden;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 100000000000;
}
.ecsite .modal-content_productSlider .prev, .ecsite .modal-content_productSlider .next {
  display: none;
}
.ecsite .modal-content_productName {
  font-weight: bold;
}
.ecsite .modal-content_productPrice {
  color: #888;
  display: block;
  padding-left: 60%;
}
.ecsite .modal-content_productBuy, .ecsite .modal-content_productAdd {
  font-weight: bold;
  display: block;
  border: solid 1px #000;
  padding: 5%;
  cursor: pointer;
  position: relative;
  top: 110px;
}
.ecsite .modal-content_productAdd {
  top: 120px;
}
.ecsite .modal-content_bottom {
  padding-top: 20px;
}
.ecsite .close {
  color: #888;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.ecsite .close:hover,
.ecsite .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
@media (max-width: 1240px) {
  .ecsite .worksWrapper {
    width: 80%;
  }
  .ecsite .worksWrapper_sliderWork .textArea p {
    padding: 10px;
  }
}
@media (max-width: 768px) {
  .ecsite .worksWrapper {
    width: 100%;
    overflow: hidden;
  }
}
@media (max-width: 460px) {
  .ecsite .worksWrapper_sliderWork .titleArea {
    top: 175px;
    padding: 8px;
    font-size: 0.6rem;
  }
  .ecsite .worksWrapper_sliderWork .textArea p {
    letter-spacing: 0px;
    line-height: 1rem;
    font-size: 0.7rem;
    padding: 5px;
  }
}

.ecsite #footer {
  background-color: #4c4948;
  padding: 16px 0;
  color: #eee;
}
.ecsite #footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.ecsite #footer .container small {
  font-size: 16px;
}
.ecsite #footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}
.ecsite #footer li a i {
  font-size: 24px;
}